[class$='-icon'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 2.4rem;

  &.tiny    { font-size: 1.6rem; }
  &.small   { font-size: 2.0rem; }
  &.medium  { font-size: 2.4rem; }
  &.large   { font-size: 2.8rem; }
  &.massive { font-size: 3.2rem; }
}

.pen-icon:before {
  content: "\e905";
}
.error-icon:before {
  content: "\e906";
}
.history-icon:before {
  content: "\e900";
}
.time-icon:before {
  content: "\e901";
}
.submit-icon:before {
  content: "\e902";
}
.search-icon:before {
  content: "\e903";
}
.close-icon:before {
  content: "\e904";
}
