/*************
    Colors
*************/
$primary-hue: 12;
$secondary-hue: 100;

// комплиментарная схема
$primary-color:      hsl($primary-hue, 90%, 50%);
$primary-sat-color:  hsl($primary-hue, 75%, 50%);
$primary-dark-color: hsl($primary-hue, 90%, 35%);

$secondary-color:      hsl($secondary-hue, 90%, 50%);
$secondary-sat-color:  hsl($secondary-hue, 75%, 50%);
$secondary-dark-color: hsl($secondary-hue, 90%, 35%);

// оттенки серого
$pale-gray-color:  hsl(0, 0%, 80%);
$light-gray-color: hsl(0, 0%, 70%);
$gray-color:       hsl(0, 0%, 60%);
$dark-gray-color:  hsl(0, 0%, 40%);

/***********
    Font
***********/
$base-font-size: 16rem;

$tiny-font-size: $base-font-size - 4rem;
$small-font-size: $base-font-size - 2rem;
$medium-font-size: $base-font-size;
$large-font-size: $base-font-size + 2rem;
$massive-font-size: $base-font-size + 4rem;

$font-color: lighten(black, 15);
$inverted-font-color: invert($font-color);
